<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">RoR</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/login" role="button">Login</a>
    <div style="padding-left: 10px;">
        <a class="btn btn-outline-primary" href="/auth/google_oauth2" role="button">Login with Google</a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/signup" role="button">Sign Up</a>
    </div>
  </form>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Restaurants on Rails!</h1>
    <p class="lead">Great places. Great eats.</p>
  </div>
</div>
