<div class="wrapper">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to Restaurants on Rails</h1>
            <p class="lead">Great places. Great eats.</p>
        </div>
    </div>
</div>
