/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $enable-gradients:                            true !default;
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Asap+Condensed|Comfortaa|Darker+Grotesque|Open+Sans+Condensed:300|PT+Sans+Narrow|Work+Sans&display=swap');

html {
    min-height: 100vw;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vw;
    margin: 0;
    padding: 0;
    background: #25283D;

}
 
 .jumbotron {
     text-align: center;
     color: #8f3985;
     font-family: 'Open Sans Condensed', sans-serif;
 }


 h1 {
     color: #A675A1;
     font-family: 'Work Sans', sans-serif;
     font-size: 275%;
 }

 h1.display-4 {
     color: #8f3985;
 }

 .footer-margin {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     text-align: center;
     background-color: #D8973C;
 }

 .card {
     margin: 50px;
     min-height: 100%;
 
}
 .card-body {
    min-height: 100%;

 }

.title {
    text-align: center;
}

.search {
    text-align: center;
}

h2 {
    color: #8f3985;
    font-family: 'Work Sans', sans-serif;
}

nav {
    margin-top: 5px;
}

.navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
}

.suggestions {
    font-family: 'Work Sans', sans-serif;
    color: #25283D;
}